.container{
    display: flex;
}
.content-box{
    box-sizing:content-box;
    margin-left: 10px;
}
.border-box{
    box-sizing:border-box;
    margin-left: 10px;
}
.gen1{
    width:200px;
    height:200px;
    padding:20px;
    background-color:black;
    border: 10px solid red;
}
.gen2{
    width:100px;
    height:100px;
    padding:20px;
    background-color:red;
    border:10px solid black;
}
body{
    background-color:white;
}